.landing-button {
    
    color: #ffffff;
    background-color: #00e6c9;
    width: 170PX;
    text-align: center;
    margin: 0 auto;
    padding: 10px 14px;
    font-size: 18px;
    letter-spacing: 1.8px;
    cursor: pointer;
    
}

.landing-button:hover {

    background-color: #0aa893; 
} 