.landing-modal {
    position: fixed;
    margin: 0 auto;
    top: 25%;
    background-color: #ffffff;
    z-index: 10;
    width: 710px;
    height: 446px;
    left: calc(710px - 360px);
    padding: 70px 77px 60px 77px;
    box-sizing: border-box;
}

.landing-modal--overlay {
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(216,216,216, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.landing-modal .landing-title {
    margin-bottom: 38px;
}

.landing-modal .landing-text {
    font-size: 24px;
    padding: 0;
    margin-bottom: 48px;
}

.landing-modal .lading-button {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.landing-modal--close-icon{
    background-image: url(./img/modal-close-icon.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}